<form method="POST">
    <input type="text" name="otp" placeholder="Enter OTP" required>
    <button type="submit">Verify</button>
</form>

<br>

<form action="{{ url_for('resend_otp') }}" method="POST">
    <button type="submit" id="resendBtn" style="background:#f59e0b;">
        Resend OTP
    </button>
</form>

<p id="timer" style="margin-top:10px; color:gray;"></p>

<script>
let timeLeft = 30;
const btn = document.getElementById("resendBtn");
btn.disabled = true;

let timer = setInterval(() => {
    document.getElementById("timer").innerText =
        "Resend available in " + timeLeft + "s";

    timeLeft--;

    if (timeLeft < 0) {
        clearInterval(timer);
        document.getElementById("timer").innerText = "";
        btn.disabled = false;
    }
}, 1000);
</script>